.SearchEngine .card-header .btn-primary{
  margin: 0 0 5px 5px;
  padding: 7px 25px;
  transition: 300ms ease-in-out;
}

.SearchEngine .card-header {
  font-family: "Libre Franklin", sans-serif;
}

.SearchEngine .card-header .form-control {
  display: inline;
  width: 60%;
}

.SearchEngine .card-header .weather-search {
  display: inline;
}

